Checks: "*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm-*,-llvmlibc-*"
WarningsAsErrors: "*"
HeaderFilterRegex: ""
FormatStyle: none
CheckOptions:
  - key: altera-struct-pack-align.No
