Checks: "modernize-*,-clang*,-android-*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm-*,-llvmlibc-*,-altera-struct-pack-align*"
WarningsAsErrors: ""
HeaderFilterRegex: "Griddly/Core/.*hpp"
FormatStyle: "{ BasedOnStyle: Google, ColumnLimit: 0 }"
