Checks: "*,-android-*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm-*,-llvmlibc-*,-altera-struct-pack-align*"
WarningsAsErrors: "*"
HeaderFilterRegex: "(src/.*|tests/src/.*)"
FormatStyle: "{ BasedOnStyle: Google, ColumnLimit: 0 }"
