[submodule "libs/pybind11"]
	path = libs/pybind11
	url = https://github.com/pybind/pybind11.git
	ignore = dirty
[submodule "libs/yaml-cpp"]
	path = libs/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
	ignore = dirty
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
	ignore = dirty
[submodule "python/examples/experiments/conditional-action-trees"]
	path=python/examples/experiments/conditional-action-trees
	url=https://github.com/Bam4d/conditional-action-trees
	ignore = dirty
[submodule "python/examples/experiments/rts-self-play"]
	path = python/examples/experiments/rts-self-play
	url = https://github.com/Bam4d/rts-self-play
	ignore = dirty
[submodule "python/examples/experiments/autoregressive-cats"]
	path = python/examples/experiments/autoregressive-cats
	url = git@github.com:Bam4d/autoregressive-cats.git
