
@import "~bootswatch/dist/slate/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/slate/bootswatch";

@font-face {
  font-family: "Droid Sans Mono";
  src: local("Droid Sans Mono"), url('./fonts/DroidSansMono.ttf');
}

.App {
  text-align: center;
}


.jiddly-ide-container {
  text-align: center;
}
